@use '../../style/scss/setting/mixin' as *;
@use '../../style/scss/setting/variable' as *;
@use '../../style/scss/component/section-title' as *;
@use '../../style/scss/component/section-subtitle' as *;

article {
    background-color: $color--lightblue;
    padding-bottom: 200px;
    .article-container {
        margin-left: 200px;
        margin-bottom: 100px;
        overflow: hidden;
        .title-flex {
            display: flex;
            .vertical-title {
                writing-mode: vertical-rl;
                text-orientation: sideways;
                transform: rotate(180deg);
                height: 476px;
                color: #fff;
                -webkit-text-stroke: 3px rgba($color: #6E6E6EB2, $alpha: 0.7);
                paint-order: stroke fill;
                font-size: 6.4rem;
                font-weight: 700;
                line-height: 92px;
                text-align: center;
            }
            .service-content {
                border: 1px solid #000;
                border-radius: 20px 0 0 20px;  
                background-color: $color--white;
                width: 2000px;
                height: 476px;
                padding: 35px;
                h4 {
                    font-size: 3.2rem;
                    font-weight: 700;
                    line-height: 46px;
                    padding-bottom: 30px;
                }
                figure {
                    display: flex;
                    .flex-img {
                        display: flex;
                        padding-right: 40px;
                        img {
                            width: 300px;
                            height: 330px;
                            border-radius: 20px;
                            object-fit: cover;
                        }
                        .img-small {
                            display: flex;
                            flex-direction: column;
                            margin-left: 16px;
                            img {
                                width: 196px;
                                height: 160px;
                                border-radius: 20px;
                            }
                            img:first-of-type {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                figcaption {
                    width: 350px;
                    height: 225px;
                    .figcaption-title {
                        font-size: 2.0rem;
                        font-weight: 500;
                        line-height: 28px;
                        padding: 20px 0;
                    }
                    p {
                        font-size: 1.8rem;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}