@use '../../style/scss/setting/mixin' as *;
@use '../../style/scss/setting/variable' as *;
@use '../../style/scss/component/section-title' as *;
@use '../../style/scss/component/section-subtitle' as *;

.about-us {
    background-color: $color--beige;
    overflow: hidden;
    .about-us-container {
        padding: 100px 11% 150px;
        overflow: visible;
        .section-title{
            @include tablet {
                padding-bottom: 8px;
                font-size: 7.0rem;
                line-height: 70px;
                text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000;
            }
            @include sp {
                font-size: 4.0rem;
                line-height: 40px;
            }
        }
        .section-subtitle {
            padding-bottom: 20px;
            @include tablet {
                font-size: 20px;
                line-height: 28px
            }
        }
        .about-us-img-container {
            background-image: url(../../public/aboutus/aboutus-main.png);
            width: 1377px;
            height: 480px;
            border: 1px solid #000;
            border-radius: 50%;
            margin-left: 30%;
            margin-top: -100px;
            overflow: hidden;
            background-size: 1377px auto;
            background-position: 80% 60%;
            // .about-us-img {
            //     width: 1377px;
            //     height: auto;
            //     object-fit: cover;
            //     object-position: center;
            // }    
        }
        .about-us-text {
            h3 {
                font-size: 4.0rem;
                font-weight: 700;
                line-height: 57px;
                color: #fff;
                -webkit-text-stroke: 4px #000;
                paint-order: stroke fill;            
            }
            .text-large {
                font-size: 2.0rem;
                line-height: 28px;
                padding: 20px 0 10px 0;
            }
            .text-small {
                font-size: 1.8rem;
                line-height: 26px;
            }
        }
    }
}