@use '../../style/scss/setting/mixin' as *;
@use '../../style/scss/setting/variable' as *;
@use '../../style/scss/component/section-title' as *;
@use '../../style/scss/component/section-subtitle' as *;

main {
    background-color: $color--beige;
    overflow: hidden;
}
.about-us {
    width: 1168px;
    margin: 0 auto;
    @include pc {
        width: 100%;
        padding: 0 16px;
    }
    @include tablet {
        padding: 0 32px;
    }
    .about-us-container {
        padding: 100px 0 150px 0;
        @include tablet {
            padding: 50px 0;
        }
        .section-title{
            @include sp {
                font-size: 4.0rem;
                line-height: 40px;
            }
        }
        .section-subtitle {
            padding-bottom: 20px;
        }
        .about-us-img-container {
            background-image: url(../../public/aboutus/aboutus-main.jpg);
            width: 1377px;
            height: 480px;
            border: 1px solid #000;
            border-radius: 50%;
            margin-left: 20%;
            // transition: margin-left 0.1s ease;
            margin-top: -50px;
            overflow: hidden;
            background-size: 1377px auto;
            background-position: 80% 60%;
            @include pc {
                margin-left: 5%;
                // transition: margin-left 0.1s ease;
            }
            @include tablet {
                width: 1004px;
                height: 350px;
                margin-left: 16px;
            }
        }
        .about-us-text {
            h3 {
                font-size: 4.0rem;
                font-weight: 700;
                line-height: 57px;
                color: #fff;
                -webkit-text-stroke: 4px #000;
                paint-order: stroke fill;
                @include tablet {
                    font-size: 3.2rem;
                    line-height: 46px;
                    letter-spacing: -0.02em;
                }          
            }
            .text-large {
                font-size: 2.0rem;
                line-height: 28px;
                padding: 20px 0 10px 0;
                @include tablet {
                    font-size: 1.8rem;
                    line-height: 26px;
                    padding: 20px 0;
                }
            }
            .text-small {
                font-size: 1.8rem;
                line-height: 26px;
                @include tablet {
                    font-size: 1.6rem;
                    line-height: 23px;
                }
            }
        }
    }
}


#beige {
    background-color: $color--beige;
}