@use '../../style/scss/setting/mixin' as *;
@use '../../style/scss/setting/variable' as *;
@use '../../style/scss/component/section-title' as *;
@use '../../style/scss/component/section-subtitle' as *;

.company {
    background-color: $color--beige;
    .company-container {
        // max-width: 1440px;
        // padding: 0 11%;
        padding: 100px 11% 150px;
        margin: 0 auto;
        .section-title {
            @include tablet {
                padding-bottom: 8px;
                font-size: 7.0rem;
                line-height: 70px;
                text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000;
            }
            @include sp {
                font-size: 4.0rem;
                line-height: 40px;
            }
        }
        .section-subtitle {
            padding-bottom: 20px;
            padding-left: 24px;
        }
        dl {
            width: 960px;
            height: 500px;
            margin: 0 auto;
            div {
                display: flex;
                border-bottom: 1px solid #545454;
                padding: 24px 0;
            }
            dt {
                width: 160px;
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 26px;    
            }
            dd {
                width: 800px;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
}