@use '../../style/scss/setting/mixin' as *;
@use '../../style/scss/setting/variable' as *;
@use '../../style/scss/component/section-title' as *;
@use '../../style/scss/component/section-subtitle' as *;

.company {
    width: 1168px;
    margin: 0 auto;
    @include pc {
        width: 100%;
        padding: 0 16px;
    }
    @include tablet {
        padding: 0 32px;
    }
    .company-container {
        padding: 100px 0 150px 0;
        .section-title {
            @include sp {
                font-size: 4.0rem;
                line-height: 40px;
            }
        }
        .section-subtitle {
            padding-bottom: 40px;
            @include tablet {
                padding-bottom: 20px;
            }
        }
        dl {
            width: 960px;
            height: 500px;
            margin: 0 auto;
            @include tablet {
                width: 100%;
            }
            div {
                display: flex;
                border-bottom: 1px solid #545454;
                padding: 24px 0;
            }
            dt {
                width: 160px;
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 26px;    
            }
            dd {
                width: 800px;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
}