@use '../../style/scss/mixin' as *;
@use '../../style/scss/variable' as *;

.company {
    .company-container {
        .section-title {
            padding-bottom: 24px;
            font-size: 10.0rem;
            font-weight: 700;
            line-height: 86px;
            color: $color--white;
            text-shadow: 2px 2px 0 #000,-2px 2px 0 #000,-2px -2px 0 #000,2px -2px 0 #000;
            @include tablet {
                padding-bottom: 8px;
                font-size: 7.0rem;
                line-height: 70px;
                text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,-1px -1px 0 #000,1px -1px 0 #000;
            }
            @include sp {
                font-size: 4.0rem;
                line-height: 40px;
            }
        }
        .section-subtitle {
            
        }
    }
}