@use '../scss/mixin' as *;

header {
    display: flex;
    justify-content: space-between;
    height: 173px;
    padding: 20px 62px 20px 44px;
    @include pcs {
        padding: 20px 17px 20px 16px;
    }
    img {
        width: 242px;
        height: 133px;
    }
    nav {
        display: flex;
        font-weight: 700;
        font-size: 1.6rem;
        padding-top: 20px;
        li {
            padding-right: 40px;
            a {
                img {
                    width: 16px;
                    height: 16px;
                }
            }
            a:hover {
                border-bottom: 3px solid #FEEF44;
            }
        }
        .contact::before {
            content: "|";
            padding-right: 24px;
        }
        .contact::after {
            content: "|";
            padding-left: 24px;            
        }
        .insta {
            padding-right: 0;
            @include pcs {
                padding-right: 0;
            }
        }
        @include tablet {
            display: none;
        }
    }
    .hamburger {
        display: none;
        @include tablet {
            display: block;
                img {
                width: 48px;
                height: 48px;
            }
        }
    }
}