@use '../scss/mixin' as *;
@use '../scss/variable' as *;

header {
    display: flex;
    justify-content: space-between;
    height: 173px;
    padding: 20px 62px 20px 44px;
    @include pcs {
        height: 133px;
        padding: 20px 25px 20px 25px;
    }
    @include tablet {
        height: 82px;
        padding: 20px 18px 10px 18px;
        align-items: center;
    }
    .logo {
        width: 242px;
        height: 133px;
        @include pcs {
            width: 170px;
            height: 93px;
        }
        @include tablet {
            width: 96px;
            height: 52px;
        }
    }
    nav {
        display: flex;
        font-weight: 700;
        font-size: 1.6rem;
        padding-top: 20px;
        @include pcs {
            display: none;
        }
        li {
            padding-right: 40px;
            a {
                img {
                    width: 16px;
                    height: 16px;
                }
            }
            a:hover {
                border-bottom: 3px solid $color--yellow;
            }
        }
        .contact::before {
            content: "|";
            padding-right: 20px;
        }
        .contact::after {
            content: "|";
            padding-left: 20px;            
        }
        .insta {
            padding-right: 0;
        }
    }
    .hamburger {
        display: none;
        @include pcs {
            display: block;
                img {
                width: 48px;
                height: 48px;
            }
        }
    }
}