@use '../scss/mixin' as *;
@use '../scss/variable' as *;

.instagram {
    background-image: url("../../public/top-insta-high1440.png");
    background-position: center;
    background-size: cover;
    .section-title {
        padding-top: 180px;
        font-size: 10.0rem;
        font-weight: 700;
        line-height: 86px;
        color: $color--white;
        text-shadow: 2px 2px 0 #000,-2px 2px 0 #000,-2px -2px 0 #000,2px -2px 0 #000,5px 5px 0 $color--green;
        text-align: center;
    }
    .instagram-link-container {
        display: flex;
        justify-content: flex-end;
        margin: 30px 160px 30px 0;
        .instagram-link {
            display: inline-block;
            padding: 5px 0;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 23px;
            text-align: left;
            border-bottom: 3px solid #FEEF44;
            a {
                span::before {
                    content: "";
                    display: inline-block;
                    width: 36px;
                    height: 5px;
                    background-image: url("../../public/follow-us-arrow.png");
                    background-size: contain;
                    vertical-align: middle;
                    margin-left: 16px;
                }
                span::after {
                    content: "";
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background-image: url("../../public/instagram.png");
                    background-size: contain;
                    vertical-align: middle;
                    margin-left: 16px;
                } 
            }
        }            
    }
    .insta-img-container {
        text-align: center;
    }
    .insta-background-bottom {
        background-image: url("../../public/top-insta-bottom1440.png");
        width: 100%;
        height: 180px;
        background-color: $color--lightblue;
    }
}